<div class="user_container">
        <div class="boxed img_container"></div>
            <div class=" boxed user_card">
            <h2 class="user_label"><%= @user.name%></h2>
            <p class="post_counter">Number of posts: <%= @user.posts_counter%>
         </div>
</div>

<% @posts.each  do  |post|%>
<div class="boxed comments_container">
    <a href="/users/<%= post.author_id%>/posts/<%= post.id %>"><%= post.title%></a>
        <p>
           <%= post.text%>
        </p>
        <p class="comments_likes">
            Comments: <%= post.comment_counter %> Likes: <%= post.likes_counter%>
        </p>
</div>
<div class="boxed">
<% post.comments.each  do |comment|%>
    <p><%= comment.author.name%> - <%= comment.text %></p>
    <%end%>
</div>
<br />
<%end%>
<div class="buttton_container">
<button class="all_post_btn">Pagination</button>
</div>