<div class="posts_show_container">
<div class="boxed">
<div class="posts_info">
<p><%= @post.title%> by <%= @post.author.name%></P>
<p>Comments: <%= @post.comment_counter%> likes: <%= @post.likes_counter %></p>
</div>

<p>
<%= @post.text%>
</p>
</div>
<br />
<div class="boxed">
    <% @post.comments.each do |comment| %>
     <p><%= comment.author.name%>: <%= comment.text %></p>
    <%end%>

</div>

</div>